@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

body{
	padding: 0;
	margin: 0;
	background: #0079bf;
	font-family: 'Noto Sans JP';
}
.page {
	width: 100%;
	min-height: 100%;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}
.list {
		display: flex;
		justify-content: space-around;
		padding: 150px 0;
		// .list__cell

		&__cell {
			background-color: #fff;
			flex: 0 1 200px;
			height: 250px;
		}
		// .list__card

	&__card {
	}
}
.card {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgb(255, 255, 255);
	&:before{
		content: '';
		display: block;
		background-color: brown;
		width: 100%;
		height: 40px;
	}
	// .card__title

	&__title {
		padding: 20px 0;
		font-size: 18px;
		font-weight: 400;
	}

	// .card__content

	&__content {
		font-weight: 300;
		padding: 0 20px;
	}
}
.bottom {
	display: flex;
	justify-content: flex-end;
}
.js-add {
}

.hide{
	display: none;
}
.hover{
	background-color: rgb(168, 248, 166);
}

